language: python
sudo: false
python:
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements-dev.txt
  - python setup.py install
script:
  coverage run --source npdl -m py.test
after_success:
  - coveralls

