language: python
sudo: false
python:
  - "3.5"
  - "3.6"
install:
  - python setup.py install
  - pip install -r requirements.txt
  - pip install python-coveralls
script: pytest
after_success:
  - coveralls