# misc
include .coveragerc
include LICENSE
include CHANGES.rst
include requirements.txt
include requirements-doc.txt
include requirements-dev.txt

# tests
recursive-include tests *.py

# examples
recursive-include examples *.py

# documents
recursive-include docs *.rst conf.py *.css Makefile

# applications
recursive-include application *.py *.md *.html *.jpg



