# misc
include .coveragerc
include LICENSE
include CHANGES.rst
include requirements.txt
include requirements-doc.txt
include requirements-dev.txt

# tests
recursive-include tests *.py

# examples
recursive-include examples  *.py  *.txt  *.label

# documents
recursive-include docs  *.rst  *.py  fix_rtd.css  Makefile  make.bat

# applications
recursive-include application *.py *.md *.html *.jpg



